<h1>Ask a question</h1>
<form action="/answer" method="get" class="form-inline">
  <input type="text" name="question" class="form-control" placeholder="Please enter question">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
