// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content {
  height: 100px;
  width: 150px;
  border-left: 3px solid grey;
  margin: 30px;
  padding-left: 15px;
}

.btn {
  color: white;
  margin: 20px;
}
